body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('MoneyCoverImage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
#header{
    height:100px;
    width: 100%;
    background-color:#151515;
    position: -webkit-sticky; /* Safari (from W3 schools)*/
    position: sticky;
    top: 0;
    z-index:100;
}
#blockOne{
    height: 100%;
}
#blockTwo{
    height: calc(100% - 100px);
    position: relative;
}
#blockThree{
    height: calc(100% - 100px);
    background-color: #6C6C6C;
}
#blockFour{
    height: calc(100% - 100px);
    background-color: #6C6C6C;
    position: relative;
}
#blockFive{
    height: calc(100% - 100px);
    background-color: #6C6C6C;
    text-align: center;
}

.leftGradient{
    width:100%;
    height:100%;
    left:0;
    position:absolute;
    background-image: linear-gradient(to right, rgba(0,0,0,1),rgba(0,0,0,.8),rgba(0,0,0,0));
}

#title{
    text-align:center;
    width:40%;
    top:30%;
    left: 0;
    color:white;
    font-weight: 900;
    font-size: 6vh;
    position:absolute;
    font-family: 'Anton', sans-serif;
}
#description{
    text-align:center;
    width:30%;
    top:40%;
    left: 0;
    color:white;
    font-weight: 400;
    font-size: 3vh;
    margin-left:5%;
    position:absolute;
}


#homeImage{
    height: 60px;
    padding: 20px 30px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li div {
    display: block;
    color: #707070;
    text-align: center;
    padding: 40px 30px;
    text-decoration: none;
    font-size: 2vh;
}
  
li div:hover:not(.active) {
    background-color: #D6D6D6;
}
li #homeImage:hover:not(.active) {
    background-color: #D6D6D6;
}
.active {
    color: #D6D6D6;
}


.wrappert {
    height: 100%; 
    width: 100%;
    display: table;    
}
.wrapper {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
}
#videoContainer{
    display:inline-block;
    position:relative;
    width: 50%;
    margin-left: 10%;
}
#videoBox{
    margin-top:56.25%; /* 16/9 */
}
#video{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
}

.actor{
    height: 25%;
    width: 100%;
}
.profilePicColumn{
    width:20%;
    height:100%;
    float: left;
}
.actorInfoColumn{
    width: 80%;
    height:100%;
    float: left;
    color:white;
}
.profilePicContainer{
    top: 12.5%;
    margin-right: 10%;
    height: 75%;
    position: relative;
}
.profilePic{
    height:100%;
    float: right;
    border-radius: 50%;
}
.actorName{
    margin: 0;
    margin-top: 3%;
    font-weight: 700;
    font-size: 4vh;
    font-style: bold;
    margin-right:10%;
}
.actorBio{
    margin: 0;
    margin-top: 1%;
    font-weight: 400;
    font-size: 2vh;
    margin-right:10%;
}

.quote{
    width:40%;
    height: 30%;
    border-radius: 20%;
    background-color: white;
    color:black;
    position: absolute;
}
.left{
    left: 7%;
}
.right{
    right: 7%;
}
.top{
    top: 10%
}
.middle{
    top: 35%;
}
.bottom{
    bottom: 10%;
}

.quoteWords{
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    margin-top:5%;
    font-weight: 700;
    font-size: 4vh;
    font-style: italic;
}
.quoteAuthor{
    position:absolute;
    font-weight: 400;
    font-size: 2.5vh;
    bottom:5%;
    right:10%;
}

#moneyTwoImage{
    height:60%;
    padding-top:10%;
}
#moneyTwoText{
    width:100%;
    color: white;
    font-weight: 700;
    font-size: 5vh;
    font-style: bold;
    padding-top:5%;
    padding-left:10%;
    width: 80%;
}