body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#header{
    height:10%;
    width: 100%;
    background-color:#151515;
    position: -webkit-sticky; /* Safari (from W3 schools)*/
    position: sticky;
    top: 0;
}
#blockOne{
    height: 100%;
    background-color: red;
}
#blockTwo{
    height: 90%;
    background-color: green;
}
#blockThree{
    height: 90%;
    background-color: #6C6C6C;
}
#blockFour{
    height: 90%;
    background-color: blue;
}
#blockFive{
    height: 90%;
    background-color: orange;
}

.actor{
    height: 25%;
    width: 100%;
}
.profilePicColumn{
    width:20%;
    height:100%;
    background-color: gray;
    float: left;
}
.actorInfoColumn{
    width: 80%;
    height:100%;
    float: left;
}
.profilePicContainer{
    top: 12.5%;
    margin-right: 10%;
    height: 75%;
    position: relative;
}
.profilePic{
    height:100%;
    float: right;
    border-radius: 50%;
}
.actorName{
    margin: 0;
    margin-top: 3%;
    font-weight: 700;
    font-size: 4vh;
    font-style: bold;
    margin-right:10%;
}
.actorBio{
    margin: 0;
    margin-top: 1%;
    font-weight: 400;
    font-size: 2vh;
    margin-right:10%;
}