/* Reset body margin and padding */
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* Background image + styling */
    background-image: url('MoneyCoverImage.png'); 
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

/* Header sticks to top of screen */
#header{
    height:100px;
    width: 100%;
    background-color:#151515;
    position: -webkit-sticky; /* Safari (from W3 schools)*/
    position: sticky;
    top: 0;
    z-index:100;
}

/* 5 Blocks styling */
#blockOne{
    height: 100%;
}
#blockTwo{
    height: calc(100% - 100px); /* -100px for header offset */
    position: relative;
}
#blockThree{
    height: calc(100% - 100px);
    background-color: #6C6C6C;
}
#blockFour{
    height: calc(100% - 100px);
    background-color: #6C6C6C;
    position: relative;
}
#blockFive{
    height: calc(100% - 100px);
    position: relative;
    background-color: #6C6C6C;
    text-align: center;
}

/* Block one contents */

.leftGradient{
    width:100%;
    height:100%;
    left:0;
    position:absolute;
    background-image: linear-gradient(to right, rgba(0,0,0,1),rgba(0,0,0,.8),rgba(0,0,0,0));
}

#title{
    text-align:center;
    width:40%;
    top:30%;
    left: 0;
    color:white;
    font-weight: 900;
    font-size: 6vh;
    position:absolute;
    font-family: 'Anton', sans-serif;
}
#description{
    text-align:center;
    width:30%;
    top:40%;
    left: 0;
    color:white;
    font-weight: 400;
    font-size: 3vh;
    margin-left:5%;
    position:absolute;
}

/* Header contents */
#homeImage{
    height: 60px;
    padding: 20px 30px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li div {
    display: block;
    color: #707070;
    text-align: center;
    padding: 40px 30px;
    text-decoration: none;
    font-size: 2vh;
}
  
/* When hovered over make the background the active color*/
li div:hover:not(.active) {
    background-color: #D6D6D6;
}
/* Also for the image*/
li #homeImage:hover:not(.active) {
    background-color: #D6D6D6;
}
/* Set text color for active ones brighter */
.active {
    color: #D6D6D6;
}

/* Block 2 contents */
/* Two wrappers to center a position relative container, adapted from w3 school */ 
.wrappert {
    height: 100%; 
    width: 100%;
    display: table;    
}
.wrapper {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    text-align:center
}
/* Controls width of video*/
#videoContainer{
    display:inline-block;
    position:relative;
    width: 50%;
}
/* Controls aspect ratio of video container*/
#videoBox{
    margin-top:56.25%; /* 16/9 */
}
/* Fill video container with video*/
#video{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
}

/* Block 3 contents */
.actor{
    height: 25%;
    width: 100%;
}
/* Divide into two columns */
.profilePicColumn{
    width:20%;
    height:100%;
    float: left;
}
.actorInfoColumn{
    width: 80%;
    height:100%;
    float: left;
    color:white;
}
.profilePicContainer{
    top: 12.5%;
    margin-right: 10%;
    height: 75%;
    position: relative;
}
.profilePic{
    height:100%;
    float: right;
    border-radius: 50%;
}
/*Bigger actor name*/
.actorName{
    margin: 0;
    margin-top: 3%;
    font-weight: 700;
    font-size: 4vh;
    font-style: bold;
    margin-right:10%;
}
/*Smaller actor bio*/
.actorBio{
    margin: 0;
    margin-top: 1%;
    font-weight: 400;
    font-size: 1.9vh;
    margin-right:10%;
}

/* Block 4 contents*/
.quote{
    width:40%;
    height: 30%;
    border-radius: 20%;
    background-color: white;
    color:black;
    position: absolute;
}
/* Positioning of quotes */
.left{
    left: 7%;
}
.right{
    right: 7%;
}
.top{
    top: 10%
}
.middle{
    top: 35%;
}
.bottom{
    bottom: 10%;
}
/* Bigger words in quotes */
.quoteWords{
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    margin-top:5%;
    font-weight: 700;
    font-size: 4vh;
    font-style: italic;
}
/* Author name */
.quoteAuthor{
    position:absolute;
    font-weight: 400;
    font-size: 2.5vh;
    bottom:5%;
    right:10%;
}

/* Block 5 contents*/
#moneyTwoPoster{
    height:60%;
    padding-top:5%;
}
#moneyTwoImage{
    height:100%;
}
#moneyTwoText{
    width:100%;
    color: white;
    font-weight: 700;
    font-size: 5vh;
    font-style: bold;
    padding-top:5%;
    padding-left:10%;
    width: 80%;
}

/* Mobile */
@media only screen and (max-width: 800px) {
    #header{
        display: none;
    }
    /* Make go all the way across*/
    #title{
        width:100%;
    }
    #description{
        width:90%;
    }
    /* Change gradient for mobile*/
    .leftGradient{
        background-image: linear-gradient(to right, rgba(0,0,0,1),rgba(0,0,0,.5),rgba(0,0,0,1));
    }
    /*Bigger for small screens*/
    #videoContainer{
        width: 70%;
    }
    #blockThree{
        height: 200%;
    }
    .profilePicColumn{
        width: 100%;
        height: 50%;
    }
    .actorInfoColumn{
        width: 100%;
        height: 50%;
    }
    .profilePicContainer{
        text-align: center;
    }
    .profilePic{
        float: none;
    }
    .actorInfoColumn{
        text-align: center;
    }
    .quoteWords{
        font-size: 3vh;
    }
}